* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

#main {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

.news-item img {
    -webkit-transform: scale(0.9);
    /*Webkit: Thu nhỏ kích thước ảnh còn 0.8 so với ảnh gốc*/
    -moz-transform: scale(0.8);
    /*Thu nhỏ đối với Mozilla*/
    -o-transform: scale(0.8);
    /*Thu nhỏ đối với Opera*/
    -webkit-transition-duration: 0.5s;
    /*Webkit: Thời gian phóng to, nhỏ ảnh*/
    -moz-transition-duration: 0.5s;
    /*Như trên*/
    -o-transition-duration: 0.5s;
    /*Như trên*/
    opacity: 1;
    /*Độ mờ của hình ảnh*/
    margin: 0 10px 5px 0;
    /*căn đều giữa ảnh*/
}

.news-item img:hover {
    -webkit-transform: scale(1.1);
    /*Webkit: Tăng kích cỡ ảnh lên 1.1 lần*/
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0px 0px 30px gray;
    /*Đổ bóng bằng CSS3*/
    -webkit-box-shadow: 0px 0px 30px gray;
    -moz-box-shadow: 0px 0px 30px gray;
    opacity: 1;
    /*Độ mờ của hình ảnh*/
}

.header {
    height: 90px;
    background-color: #fff;
    width: 100%;
}

.header .icon {
    line-height: 99px;
    text-align: center;
}

/* kết thúc phần header */
.menu {
    height: 55px;
    background-color: #fff;
}

.menu .nav {
    display: inline-block;
}

.nav li {
    display: inline-block;
    position: relative;
}

.nav .Home {
    color: #0089ff;
}

.nav .Sale {
    background-color: #ed1c24;
}

.nav li:hover .Sale {
    color: #333;
}

.nav li a {
    text-decoration: none;
    color: #000;
    padding: 0 15px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}

.nav>li:nth-child(1) {
    padding-left: 90px;
}

.nav .subnav {
    display: none;
    position: absolute;
    background-color: white;
}

.nav .subnav a {
    line-height: 45px;
}

.nav>li:hover>a {
    color: #0089ff;
}

.nav li:hover .subnav {
    display: block;
}

.nav li .subnav li:hover {
    background-color: #0089ff;
    display: block;
}

.nav li .subnav li {
    min-width: 160px;
    max-height: 45x;
}

/* kết thúc menu */
.menu .menu-icon {
    font-size: 18px;
    display: flex;
    justify-content: right;
    margin: 0 auto;
    line-height: 55px;
    margin-right: 30px;
    margin-top: -55px;
}

.menu-icon .user {
    padding: 0 22px;
}

.search,
.user,
.tui {
    color: #000;
}

.menu-icon button {
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
    padding-right: 15px;
    position: relative;
    right: -16px;

}

.timkiem {
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    margin-left: 10px;
    padding-right: 15px;
}

/* kết thúc menu phải*/

.slider img {
    width: 100%;
}

.article {
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
}

.article marquee {
    width: 100%;
    background-image: linear-gradient(to top, rgba(234, 236, 85, 0.979), rgba(255 99 125 / 93%));
}

.article .chuchay {
    color: rgb(13, 0, 252);
    padding: 35px 0;
    text-transform: uppercase;
    display: block;
}

.article>.news-item>a>img {
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    width: calc(33.3% - 10px);
}

.item a {
    text-decoration: none;


}

.news-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-start;
    margin: 0 0.9rem;
    padding: 20px 0;
    text-align: center;
}

.news-item img {
    width: 70%;
    height: 280px;
    object-fit: contain;

}

/* .article .news-item:hover .content {
    color: #0089ff;

} */


.article .news-item .content1 {
    color: #000;
}

.article .news-item a {
    color: #000;
    text-decoration: none;

}

.box-btn {
    display: flex;
    justify-content: center;
    margin: 100px 0;

}

.box-btn .btn:hover {
    background-color: #337ab7;
}

.btn {
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    background: #ed1c24;
    color: #fff;
    text-decoration: none;
    border: solid 1px #ed1c24;
    padding: 0 30px;
    font-size: .8rem;
    cursor: pointer;
}

.content1 {
    display: block;
}

/* kết thúc phần sản phẩm */

.footer {
    width: 100%;
    background-color: #000;
    padding: 0 0 3rem 0;
}

h3 {
    color: #fff;
    padding: 10px 0;
}

.address,
.help li a {
    color: #fff;
    text-decoration: none;
}

.address .contactus {
    padding-left: 7px;
}

.personal .iconfb,
.personal .iconins {
    color: #fff;
    font-size: 25px;
}

.personal .iconins {
    margin-left: 15px;
}

.footer__list {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.personal {
    width: 25%;

}

.personal a i {
    padding: 1rem 1rem 1rem 0;

}

.help {
    width: 25%;
}

.help li {
    padding: .5rem .5rem .5rem 0;
}

.help li:hover a {
    color: #0089ff;
}

.address {
    width: 25%;
}

.address p {
    display: flex;
    padding: .5rem;
}

.address span {
    line-height: 30px;
}

.address p i {
    padding-right: 1rem;
}

.danhmuc {
    width: 25%;
}

.danhmuc .thongtinlienhe {
    margin-left: 25px;
}

.danhmuc .mucluc li {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem 0;
    margin-left: 1.7rem;
}

/* Contact */
.menu-contact {

    height: 50px;
    background-color: #f5f5f5;
    padding-left: 14px;
    margin-bottom: 50px;
}

.menu-contact a {
    margin: 0;
    font-size: 14px;
    padding: 15px 0 15px;
    border-radius: 0;
    font-weight: 400;
    line-height: 50px;
    text-decoration: none;
    padding-left: 90px;
}

.menu-1 {
    display: inline-block;
    color: #0089ff;
}

.contact-main {
    margin-left: 124px;
    font-size: 14 px;
    padding: 15px 0 15px;
    line-height: 2.5;
}

.h3 {
    color: #000 !important;
}

.menu>.nav>li>.itemss,
.menu>.nav>li>.clothingg,
.menu>.nav>li>.menuu {
    color: #0089ff;
}

/* kết thúc contact */
/* Bắt đầu all-items */
.all-items {
    width: 85%;
    display: flex;
    margin: 0 auto;


}

.all-items img {
    object-fit: contain;
    width: 100%;
    height: 300px;
}

.h2 {
    font-size: 16px;
    margin-bottom: 25px;
}

.mucluc1 {
    width: 20%;

    margin-right: 80px;
}

.mucluc1 li {

    list-style: none;
    padding: 10px 20px 10px 0;
    font-size: 14px;
    text-transform: uppercase;
}

.mucluc1 li a {
    text-decoration: none;
    color: black;

}

.mucluc1 li:hover a {
    color: #0089ff;
}

.box-quanao {
    width: 80%;
    float: right;
}

.box-quanao-nav {
    padding-bottom: 1rem;
    display: flex;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
}

.box-quanao .luachon {
    padding: 10px 0;
    height: 43px;
}

.box-quanao>.menu-box {
    float: right;

}

.box-quanao-list {
    display: flex;
    flex-wrap: wrap;

}

.box-quanao-list-item {
    width: 32%;
}

.box-quanao-list-item img {
    width: 100%;
}

.box-quanao-list .box-quanao-list-item a {
    text-decoration: none;
    color: black;
}

.box-quanao-list .box-quanao-list-item .content1 {
    font-weight: bold;
}

.box-quanao-list {
    padding: 30px 0 90px 0;
}

/* kết thúc all-items */

/* Đăng Nhập */
.login-form-container {
    text-align: center;
}

.login-form-container form {
    background: #fff;
    border: var(--border);
    width: 100%;
    padding: 5px;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 20px;
}

.login-form-container form h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;

}

.login-form-container form span {
    display: block;
    font-size: 15px;
    padding-top: 1rem;
}

.login-form-container form .box {
    width: 100%;
    margin: .7rem 0;
    font-size: 15px;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
    border: 1px solid black;
}

.login-form-container form .checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label {
    font-size: 15px;
    color: var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.login-form-container form p {
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 15px;
}

.login-form-container form p a {
    color: #fa7858;
    text-decoration: underline;
}

.login-form-container #close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

/* kết thúc Login */

/* Shopping */
.h22 {
    background-color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    display: block;
}

.shop {
    margin-left: 104px;
    margin-bottom: 300px;
}

@media only screen and (max-width: 1030px) {
    .footer__list {
        flex-direction: row;
        text-align: center;
    }
}

#wp-products .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    top: -50px;

}

#wp-products .title h2 {
    text-align: center;
    font-size: 60px;
    color: black;

}

.title h4 {
    text-align: center;
    color: #626A67;
    margin-top: 10px;
    font-size: large;


}


#list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    position: relative;
    left: 15%;
    top: -50px;
}

#list-products a {
    text-decoration: none;

}

#list-products .item {
    width: 320px;
    height: 466px;
    background: #fff;
    margin-bottom: 50px;
    box-shadow: 2px 2px 4px 2px #626A67;
}

#list-products .item img {
    display: block;
    margin: 0px auto;
    width: 100%;
    height: 40%;
}



#list-products .item .name {
    color: black;
    font-weight: bold;
    margin-top: 16px;
    font-size: 20px;
    margin-left: 10px;
}

#list-products .item .desc {
    color: #626a67;
    margin-left: 10px;
}

#list-products .item .price {
    color: #626A67;
    font-weight: bold;
    margin-top: 16px;
    margin-left: 10px;
}




.list-page {
    width: 50%;
    margin: 0px auto;
}

.list-page {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.list-page .item {
    margin: 0px 15px;
    width: 37px;
    height: 37px;
    background: #362f2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-page .item a {
    color: #fff;
    text-decoration: none;
}

.dn input {
    background-color: #fa7858;
    border: none;
    font-size: large;
    text-transform: uppercase;
}

.dn {
    background-color: #fa7858;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn--edit {
    background-color: rgba(46, 203, 138, 1);
    color: rgba(46, 203, 138, 1);
    width: 48%;
}

.btn--edit input {
    background-color: rgba(46, 203, 138, 1);
}

.btn--out {
    background-color: rgba(232, 62, 59, 1);
    color: rgba(232, 62, 59, 1);
    width: 48%;
}
.btn--out a {
    background-color: rgba(232, 62, 59, 1);
    color: black;
    text-decoration: underline;
    font-size: large;
}

.edit {
    display: flex;
    margin: 20px 0px 20px 0px;
    justify-content: space-around;


}

.cmt__content {
    display: flex;
    flex-direction: column;
}

.cmt__content--form input {
    width: 90%;
    min-height: 100px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 5px;

}

.cmt__content--form button {
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    border: 1px solid grey;
    border-radius: 10px;
}
.cmt__content--cmt{
    position: relative;
    bottom: -20px;
}

.cmt__block{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 10px;
    width: 90%;
    position: relative;
    left: 50px;
    margin-bottom: 5px;
    top: -20px;
}

.cmt__block span{
    margin-top: 20px;
    margin-left: 20px;
}

.cmt__block button{
    width: fit-content;
    background-color: rgba(110, 107, 107, 0.544);
    color : black;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    padding: 6px;
}

.cmt__block p {
    width: auto;
    min-height: 80px;
    border-top: 1px solid grey;
    padding-left: 20px;
    margin-top: 10px;
}

.cmt__block{
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 10px;
    min-height: 80px;
}

/* CSS cho thông báo popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.popup-content {
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}
